@model PresentationGenerator.Core.Views.Models.Output.UserSignInViewModel
@{
    ViewBag.Title = "Sign Out";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
@section navigation
{
}

<h2>
    You're all signed out..</h2>
